@font-face {
  font-family: 'Gilroy-Black';
  src:  url('@/assets/fonts/Gilroy-Black.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

